body { height: 100%; width: 100%; margin: 0; }

footer { position: fixed; bottom: 0; left: 0; right: 0; height: 2em; }
footer { padding-left: 0.5em; padding-right: 0.5em; }
footer { display: flex; justify-content: space-between; align-items: center; }

#container, #wallpaper { position: fixed; height: 100%; width: 100%; }
#container { display: flex; justify-content: center; align-items: center; }

#users { display: flex; }
#users { padding: 0.75em; }
.user { display: flex; flex-direction: column; align-items: center; }
.user { padding: .25em; margin: .25em; }

img.avatar { height: 6em; width: 6em; }

button * { vertical-align: middle;  }
button img { margin-right: 0.25em;}

form { display: flex; flex-direction: column; }
form * { margin-top: 0.5em; }
input, select { padding: 0.25em; }
