body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #2b2b2b;
    color: #ededed;
    font-family: sans;
}

header, footer {
    padding: 0.5em 0.5em 0em 0.5em;
}

.left {
    float: left;
}

.right {
    float: right;
}

#users {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
}

img.avatar {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: 0.125em solid #efefef;
    margin: 1em;
}

img.avatar:hover {
    width: 15%;
    height: 15%;
}

img.avatar.selected {
    width: 20%;
    height: 20%;
}

input {
    border: 1px solid;
    border-radius: 0.25em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer, footer img {
    height: 3em;
}
