body { background-size: cover; background-image: url(http://res1.windows.microsoft.com/resbox/en/windows/main/ecbd79ef-344f-49e9-b308-d1954be76947_7.jpg) }
footer { background-color: rgba(43, 43, 43, 0.5); }
#users { background-color: rgba(237, 237, 237, 0.8); border-radius: 0.125em; }

footer, button { color: rgb(237, 237, 237); }
#users { color: rgb(43, 43, 43); }

#users, img.avatar { box-shadow: 0 0 0.1em rgb(43, 43, 43); }

img.avatar { border-radius: 50%; }
.user:hover img.avatar { border-radius: 5%; }

img.avatar, .user:hover img.avatar { transition: all 0.1s ease-in-out; }

button img { height: 1em; }
button { border: none; outline: none; background-color: transparent; }
